@import url('reset.css');
:root {
  --font-family: 'Inter', sans-serif;
  --second-family: 'Itim', sans-serif;
}

body {
  font-family: var(--font-family);
  line-height: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-registration {
  width: 39px;
  height: 39px;
}

.container-main {
  grid-template-columns: repeat(12, 1fr);
  column-gap: 24px;
  border-radius: 15px;
  width: 1128px;
  height: 644px;
  box-shadow: 0 2px 6px 4px rgba(0, 0, 0, 0.04);
  background: #fff;
}

.container {
  max-width: 1200px;
  padding: 0 96px 0 96px;
  margin: 40px auto 0;
}

h1 {
  font-weight: 600;
  font-size: 20px;
}

.title-description {
  font-weight: 400;
  font-size: 12px;
  color: #aaa;
}

.filter {
  border: 1px solid #f2f2f2;
  border-radius: 7px;
  padding: 7px 15px;
  width: 250px;
  height: 29px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.04);
  background: #fff;
}

.filter::placeholder {
  font-weight: 400;
  font-size: 12px;
  color: #7a7a7a;
}

.section {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.buttons {
  display: flex;
}

.b-new-task {
  display: flex;
  align-items: center;
  margin-left: 9px;
  margin-right: 5px;
  border: 1px solid #7a7a7a;
  border-radius: 7px;
  padding: 7px 15px;
  width: 135px;
  height: 26px;
  background: #fff;
  font-weight: 400;
  font-size: 12px;
  color: #7a7a7a;
}

.b-check {
  display: flex;
  align-items: center;
  border: 1px dashed #d7d7d7;
  border-radius: 7px;
  padding: 7px 15px;
  width: 90px;
  height: 26px;
  background: #fff;
  font-weight: 400;
  font-size: 12px;
  color: #7a7a7a;
}

.b-status {
  margin-right: 11px;
}

.b-view {
  display: flex;
  align-items: center;
  border: 1px solid #d7d7d7;
  border-radius: 7px;
  padding: 7px;
  width: 63px;
  height: 26px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.04);
  background: #fff;
  font-weight: 400;
  font-size: 12px;
  color: #7a7a7a;
}

.tasks-list {
  border: 1px solid #f2f2f2;
  width: 936px;
  height: 429px;
  border-radius: 10px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.08);
  background: #fff;
  margin-top: 7px;
}

.icon-main {
  width: 22px;
  height: 21px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2px;
  max-width: 1200px;
  padding: 0 96px 0 96px;
}

.footer-main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 71px;
}

.select {
  display: flex;
  align-items: center;
}

.pages {
  font-weight: 400;
  font-size: 10px;
  color: #7a7a7a;
  margin-left: 18px;
}

.row-per-pages {
  font-weight: 500;
  font-size: 10px;
  color: #434343;
}

select {
  border-radius: 3px;
  padding: 2px 5px;
  width: 52px;
  height: 24px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
  background: #fff;
  border: none;
  font-size: 12px;
}

.page-info {
  font-weight: 500;
  font-size: 10px;
  color: #434343;
}

.svgs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  margin-top: 5px;
}

.icon-bottom {
  border-radius: 3px;
  fill: #fff;
  border: 0px solid #a19d9d;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
  height: 24px;
  width: 24px;
}
