.tasks-list {
  border: 1px solid #f2f2f2;
  width: 936px;
  height: 439px;
  border-radius: 10px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.08);
  background: #fff;
  margin: 7px auto 0;
}

.task-1-for-styles {
  display: flex;
  justify-content: space-between;
  padding: 6.4px 21px 6.4px 17px;
  border-bottom: 1px solid #f2f2f2;
}

.left-container-table {
  display: flex;
  align-items: center;
  gap: 64.4px;
}

.right-container-table {
  display: flex;
  align-items: center;
  gap: 62px;
}

.text-conteiner-table {
  display: flex;
  align-items: center;
  gap: 4px;
}

.b-tag {
  border: 1px solid #f2f2f2;
  border-radius: 7px;
  width: 56px;
  height: 20px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.08);
  background: #fff;
  font-weight: 400;
  font-size: 10px;
  color: #7a7a7a;
}

.to-do-text {
  max-width: 300px;
  font-weight: 500;
  font-size: 10px;
  color: #434343;
}

.status-to-do {
  width: 88px;
  height: 24px;
  font-weight: 400;
  font-size: 12px;
  color: #434343;
  display: flex;
  align-items: center;
}

.importance {
  width: 67px;
  height: 21px;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  color: #434343;
}

.task-accomplished-text {
  text-decoration: line-through;
}

.task-accomplished-background-color {
  background-color: #aaa;
}

.task-accomplished-b-tag {
	background-color: #aaa;
	border-color: #aaa;
}
